<p id="notice"><%= notice %></p>

<p>
  <b>Nota1:</b>
  <%= @noto.Nota1 %>
</p>

<p>
  <b>Nota2:</b>
  <%= @noto.Nota2 %>
</p>

<p>
  <b>Nota3:</b>
  <%= @noto.Nota3 %>
</p>

<p>
  <b>Nota4:</b>
  <%= @noto.Nota4 %>
</p>

<p>
  <b>Notamin:</b>
  <%= @noto.NotaMin %>
</p>

<p>
  <b>Notamax:</b>
  <%= @noto.NotaMax %>
</p>

<p>
  <b>Total:</b>
  <%= @noto.Total %>
</p>


<%= link_to 'Edit', edit_noto_path(@noto) %> |
<%= link_to 'Back', notos_path %>
