<h1>Listing quesitos</h1>

<table>
  <tr>
    <th>Nomequesito</th>
    <th>Statusquesito</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quesitos.each do |quesito| %>
  <tr>
    <td><%= quesito.NomeQuesito %></td>
    <td><%= quesito.StatusQuesito %></td>
    <td><%= link_to 'Show', quesito %></td>
    <td><%= link_to 'Edit', edit_quesito_path(quesito) %></td>
    <td><%= link_to 'Destroy', quesito, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quesito', new_quesito_path %>
