<h1>Listing escolas</h1>

<table>
  <tr>
    <th>Nomeescola</th>
    <th>Presidenteescola</th>
    <th>Menbrosescola</th>
    <th>Bandeiraescola</th>
    <th>Statusescola</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @escolas.each do |escola| %>
  <tr>
    <td><%= escola.NomeEscola %></td>
    <td><%= escola.PresidenteEscola %></td>
    <td><%= escola.MenbrosEscola %></td>
    <td><%= escola.Bandeiraescola %></td>
    <td><%= escola.StatusEscola %></td>
    <td><%= link_to 'Show', escola %></td>
    <td><%= link_to 'Edit', edit_escola_path(escola) %></td>
    <td><%= link_to 'Destroy', escola, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Escola', new_escola_path %>
